@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

.container3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #bc4749;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 20px;
  padding: 5px;
  gap: 5px;
  font-weight: 600;
}
.container3 h2 {
  font-size: 2em;
}
.container3 #telephone {
  font-size: 1.4em;
}
.container3 #horarios {
  font-size: 1.2em;
}

.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  min-height: auto;
  padding: 10px;
  gap: 20px;
  background-color: #f2e8cf;
}
.container4 h3 {
  font-family: "Pathway Extreme", sans-serif;
  text-transform: uppercase;
}
.container4 span {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  background-color: #bc4749;
  color: #fff;
  font-weight: 600;
}
.container4 ul li {
  font-weight: 600;
  list-style: decimal;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .container3 {
    font-size: 1em;
  }
  .container4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
  .container4 span {
    font-size: 4em;
  }
  li {
    font-size: 1.5em;
  }
}
.container {
  text-align: center;
  flex-direction: column;
  background-image: url(../img/pexels-tom-fisk-1595108.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  height: 200vh;
}
.container h2 {
  font-family: "Pathway Extreme", sans-serif;
  color: #fff;
  padding: 30px;
  font-size: 2.4em;
  text-align: center;
  text-align: start;
}
.container img {
  width: 100%;
  padding: 20px;
}
.container h3 {
  color: white;
  font-size: 2em;
}
.container p {
  color: #fff;
  font-size: 1.1em;
}
.container span {
  color: gold;
}
.container h4 {
  display: grid;
  color: white;
  font-size: 3em;
}
.container p {
  padding: 10px;
}
.container i {
  padding: 20px;
  color: white;
  font-size: 8em;
}

.grid {
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 20px;
  }
}
.boton {
  display: inline-flex;
  align-items: center;
  width: 90%;
  height: 60px;
  background: #141414;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s ease all;
}
.boton .icono {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 50px;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}
.boton:hover {
  background-color: #008000;
}
.boton:hover .icono {
  left: 250px;
  opacity: 0;
}
.boton span {
  font-size: 1.1em;
  color: #fff;
  transition: 0.4s ease-in-out all;
  position: absolute;
  left: 40%;
}

.container2 {
  min-height: 20vh;
  background: rgb(175, 173, 8);
  background: linear-gradient(90deg, rgb(175, 173, 8) 1%, rgb(26, 153, 21) 51%, rgb(175, 173, 8) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.container2 h2 {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 2em;
}
.container2 p {
  padding: 10px;
  font-size: 1.5em;
}

.grid__layout {
  display: grid;
  justify-content: center;
  background-color: green;
}

.grid__venta {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  width: 340px;
  height: 500px;
  border: 4px solid black;
  margin: 50px;
  background-color: lightgray;
}
.grid__venta img {
  width: 220px;
  height: 200px;
}
.grid__venta h3 {
  font-family: "Pathway Extreme", sans-serif;
  padding: 10px;
}
.grid__venta span {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.grid__venta button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #38b000;
}
.grid__venta .boton__venta {
  text-transform: uppercase;
  color: #242424;
}

@media screen and (min-width: 768px) {
  .container2 {
    min-height: 30vh;
    font-size: 2em;
  }
  .grid__layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid__venta button {
    width: 250px;
    height: 60px;
  }
  .grid__venta span {
    font-size: 1.5em;
  }
}
.container3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #bc4749;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 20px;
  padding: 5px;
  gap: 5px;
  font-weight: 600;
}
.container3 h2 {
  font-size: 2em;
}
.container3 #telephone {
  font-size: 1.4em;
}
.container3 #horarios {
  font-size: 1.2em;
}

.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  min-height: auto;
  padding: 10px;
  gap: 20px;
  background-color: #f2e8cf;
}
.container4 h3 {
  font-family: "Pathway Extreme", sans-serif;
  text-transform: uppercase;
}
.container4 span {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  background-color: #bc4749;
  color: #fff;
  font-weight: 600;
}
.container4 ul li {
  font-weight: 600;
  list-style: decimal;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .container3 {
    font-size: 1em;
  }
  .container4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
  .container4 span {
    font-size: 4em;
  }
  li {
    font-size: 1.5em;
  }
}
.container5 {
  flex-direction: column;
  align-items: start;
  min-height: 20vh;
  margin-top: 0;
  padding: 10px;
  background-color: #f2e8cf;
}
.container5 h2 {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 2.5em;
  text-align: start;
  text-transform: uppercase;
}
.container5 p {
  font-size: 1.2em;
  text-align: start;
  text-transform: uppercase;
}
.container5 span {
  font-size: 1.2em;
  font-family: "Ysabeau", sans-serif;
  margin-right: 15px;
  color: black;
  font-weight: 600;
}

.container6 {
  text-align: center;
  background-color: #fefae0;
  min-height: 75vh;
}
.container6 h2 {
  color: #219ebc;
  width: 250px;
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}
.container6 img {
  width: 100%;
  padding: 20px;
}
.container6 ul {
  list-style: inside;
}
.container6 li {
  font-weight: 600;
  list-style: inside;
  text-align: start;
  font-size: 1em;
}

.container__fondo {
  background-color: #fefae0;
}

@media screen and (min-width: 768px) {
  .container5 {
    text-align: center;
  }
  .container5 h2 {
    text-align: center;
  }
  .container p {
    text-align: center;
  }
}
.container7 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #242424;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-image: url(../img/campo-naturalesa.jpg);
  background-position: center;
  color: #242424;
  min-height: 20vh;
}
.container7 h2 {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.1843137255);
}
.container7 p {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0rem;
  background-color: rgba(0, 0, 0, 0.1843137255);
}

.container8 {
  background-color: #f2e8cf;
}
.container8 h3 {
  color: #588157;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 600;
}
.container8 img {
  width: 90%;
  padding: 10px;
}
.container8 p {
  color: #242424;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px;
}

header div {
  display: inline-block;
  justify-content: baseline;
  background-color: #2a6f97;
}
header div h1 {
  font-family: "Chivo Mono", monospace;
  font-size: 2.5em;
}
header div img {
  height: 60px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #143d55;
}
.footer img {
  width: 100px;
  margin: 10px;
}
.footer a {
  text-decoration: none;
}
.footer__span {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}
.footer__derechos {
  font-size: 0.8em;
  color: #7a7a7a;
}

/*# sourceMappingURL=style.css.map */
