@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

header div {
  display: inline-block;
  justify-content: baseline;
  background-color: #2a6f97;
}
header div h1 {
  font-family: "Chivo Mono", monospace;
  font-size: 2.5em;
}
header div img {
  height: 60px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.container {
  text-align: center;
  flex-direction: column;
  background-image: url(../img/pexels-tom-fisk-1595108.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  height: 200vh;
}
.container h2 {
  font-family: "Pathway Extreme", sans-serif;
  color: #fff;
  padding: 30px;
  font-size: 2.4em;
  text-align: center;
  text-align: start;
}
.container img {
  width: 100%;
  padding: 20px;
}
.container h3 {
  color: white;
  font-size: 2em;
}
.container p {
  color: #fff;
  font-size: 1.1em;
}
.container span {
  color: gold;
}
.container h4 {
  display: grid;
  color: white;
  font-size: 3em;
}
.container p {
  padding: 10px;
}
.container i {
  padding: 20px;
  color: white;
  font-size: 8em;
}

.grid {
  margin: 20px;
}

.boton {
  display: inline-flex;
  align-items: center;
  width: 90%;
  height: 60px;
  background: #141414;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s ease all;
}
.boton .icono {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 50px;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}
.boton:hover {
  background-color: #008000;
}
.boton:hover .icono {
  left: 250px;
  opacity: 0;
}
.boton span {
  font-size: 1.1em;
  color: #fff;
  transition: 0.4s ease-in-out all;
  position: absolute;
  left: 40%;
}

.container2 {
  height: 20vh;
  background: rgb(175, 173, 8);
  background: linear-gradient(90deg, rgb(175, 173, 8) 1%, rgb(26, 153, 21) 51%, rgb(175, 173, 8) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.container2 h2 {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 2em;
}
.container2 p {
  padding: 10px;
  font-size: 1.5em;
}

.grid__layout {
  display: grid;
  justify-content: center;
  background-color: green;
}

.grid__venta {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  width: 340px;
  height: 500px;
  border: 4px solid black;
  margin: 50px;
  background-color: lightgray;
}
.grid__venta img {
  width: 220px;
  height: 200px;
}
.grid__venta h3 {
  font-family: "Pathway Extreme", sans-serif;
  padding: 10px;
}
.grid__venta span {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.grid__venta button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #38b000;
}
.grid__venta .boton__venta {
  text-transform: uppercase;
  color: #242424;
}

.container3 {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #bc4749;
  height: 20vh;
  padding: 5px;
  gap: 5px;
  font-weight: 600;
}
.container3 h2 {
  font-size: 2em;
}
.container3 #telephone {
  font-size: 1.4em;
}
.container3 #horarios {
  font-size: 1.2em;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 20000px;
  }
}

/*# sourceMappingURL=style.css.map */
