$color: #bc4749;

.container3{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color;
    height: 20vh;
    padding: 5px;
    gap: 5px;
    font-weight: 600;

    & h2{
        font-size: 2em;
        
    }

    & #telephone{
        font-size: 1.4em;
    }

    & #horarios{
        font-size: 1.2em;
    }

}