@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
$titulo: 'Pathway Extreme', sans-serif;
$color: #bc4749;

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    min-height: auto;
    padding: 10px;
    gap: 20px;
    background-color: #f2e8cf;
}

@mixin container-atencion-cliente{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 20px;
    padding: 5px;
    gap: 5px;
}

.container3{

    & h2{
        font-size: 1.5em;
    }

    & #telephone{
        font-size: 1em;
    }

    & #horarios{
        font-size: 1em;
    }

    @include container-atencion-cliente()
}

.container4{
    @include flex;

    & h3{
        font-family: $titulo;
        text-transform: uppercase;
    }

    & span{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6em;
        background-color: $color;
        color: #fff;
        font-weight: 600;
    }
   
    & ul li{
        font-weight: 600;
        list-style: decimal;
        margin-bottom: 15px;
        
    }
}

@media screen and (min-width: 768px){
    .container3{
        font-size: 1em;

        & h2{
            font-size: 2.3em;
        }

        & #telephone{
            font-size: 1.6em;
        }

        & #horarios{
            font-size: 1.3em;
        }
    }

    .container4{
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;

        h3{
            font-size: 2.5em;
        }

        p{
            font-size: 1.5em;
        }

        span{
            font-size: 4em;
            padding: 10px;
        }

        li{
            font-size: 1.5em;
        }
    }
}
