@mixin boton{
    display: inline-block;
    align-items: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: #fff;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

@mixin animacion-boton{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: 60px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.boton{

    & span{
        color: #242424;
        font-size: 0.8em;
    }

    & svg{
        color: #283618;
        font-weight: 600;
        width: 35px;
        height: 28px;
    }

    &:hover{
        background: #a7c957;
    }


    &:hover .icono{
        left: calc(100% - 140px);
        opacity: 1;
    }

    & span{
        transition: .4s ease-in-out;
    }

    & .icono{
        @include animacion-boton()
    }

    &:hover .icono{
        left: calc(100% - 140px);
        opacity: 1;
    }
    
    @include boton()
}

.elboton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.iconos{
    opacity: 1;
    align-items: center;
    margin-right: 3px;
    margin-bottom: 4px;
}

@media screen and (min-width: 768px){
    .grid__venta .elboton:hover{
        background-color: #52b788;
        transition: all 0.5s ease 0s;
        font-size: 1.2em;
        opacity: 1;
    }
}

@media screen and (min-width: 500px){
    .boton:hover .icono{
        left: calc(100% - 180px);
        opacity: 1;
    }
}

@media screen and (min-width: 600px){
    .boton:hover .icono{
        left: calc(100% - 240px);
        opacity: 1;
    }
}

@media screen and (min-width: 700px){
    .boton:hover .icono{
        left: calc(100% - 280px);
        opacity: 1;
    }
}

@media screen and (min-width: 768px){
    .boton:hover .icono{
        left: calc(100% - 600px);
        opacity: 1;
    }

    .boton .icono{
        left: 480px;
    }
}