@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');


header div{
    display: inline-block;
    justify-content: baseline;
    background-color: #2a6f97;

    & h1{
        font-family: 'Chivo Mono', monospace;
        font-size: 2.5em;
    }

    img{
        height: 60px;
    }
}

.navbar-toggler{
    border: none !important;
}

.nav-link:hover{
    transition: all 0.3s ease 0s;
    color: #fff;
    margin: 0;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
