@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
.container{
    background-image: url(../img/pexels-tom-fisk-1595108.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    height: 90vh;

    & h2{
        font-family: 'Pathway Extreme', sans-serif;
        color: #fff;
        font-size: 2.4em;
        text-align: center;
        text-align: start;
    }
    
    & img{
        width: 100%;
        padding: 20px;

    }

    & h3{
        color: white;
        font-size: 2em;
        
    }

    & p{
        color: #fff;
        font-size: 1.1em;
    }

    & span{
        color: gold;
    }
    
    & button{
        border: 0;
        background: linear-gradient(90deg, rgba(26,27,26,1) 0%, rgba(26,153,21,1) 51%, rgba(2,17,1,1) 98%);
        border-radius: 8px;
        color: #fff;
        display: flex;
        padding: 4px;
        cursor: pointer;
        transition: .3s;
        
    }

    & .boton{
        color: #fff;
        background-color: #588157;
        padding: 16px 24px;
        border-radius: 6px;
        transition: .3s;
    }

    & .boton:hover{
        background: none;
    }

    .boton:active{
        transform: scale(0.8);
    }

}