@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

.container{
    text-align: center;
    background-image: url(../img/pexels-tom-fisk-1595108.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    min-height: 70vh;
    

    & h2{
        font-family: 'Pathway Extreme', sans-serif;
        color: #fff;
        padding: 10px;
        font-size: 2em;
        text-align: center;
        text-align: start;
    }
    
    & img{
        max-width: 100%;
        padding: 20px;
    }

    & h3{
        color: white;
        font-size: 2em;
        
    }

    & p{
        color: #fff;
        font-size: 1.1em;
    }

    & span{
        color: gold;
    }

    & h4{
        display: grid;
        color: white;
        font-size: 3em;
    }

    & p{
        padding: 10px;
    }

    & i{
        padding: 20px;
        color: white;
        font-size: 8em;
    }

}

.container1-2{
    background: rgb(142,163,141);
    background: linear-gradient(90deg, rgba(142,163,141,1) 25%, rgba(255,255,255,1) 88%);
    font-size: 1em;
    text-align: center;
    min-height: 40vh;
}

.container1-2 h3{
    padding: 10px;
    font-size: 2em;
}

.grid__layout2{
    background-color: blue;
}

.grid{
    background-color: #fff;
    text-align: center;

    & h4{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 2.3em;
    }

    & i{
        padding: 20px;
        color: #2ec4b6;
        font-size: 8em;
    }

    p{
        font-family: 'Roboto', sans-serif;
    }
}




@media screen and (min-width: 768px){

    .container{
        display: flex;
        align-items: center;
        font-size: 1.4em;
        justify-content: space-between;
        min-width: 215vh;
        min-height: 85vh;
    }

    .container img{
        width: 100px;
    }

    .container h2{
        text-align: start;
    }
    
    .container img{
        width: 50%;
    }

    .container1-2 h3{
        font-size: 3.5em;
    }



    .grid_layout2{
        display: flex;
    }

    
}

