@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
$titulo-index: 'Pathway Extreme', sans-serif;

.container{
    text-align: center;
    background-image: url(../img/pexels-tom-fisk-1595108.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    min-height: 70vh;
    

    & h2{
        font-family: $titulo-index;
        color: #fff;
        padding: 10px;
        font-size: 2.5em;
        margin-bottom: 50px;
        text-align: center;
    }
    
    & img{
        width: 100%;
        padding: 20px;
    }

    & h3{
        color: white;
        font-size: 2em;
        
    }

    & p{
        color: #fff;
        font-size: 1.1em;
    }

    & span{
        color: gold;
    }

    & h4{
        display: grid;
        color: white;
        font-size: 3em;
    }

    & p{
        padding: 10px;
    }

    & i{
        padding: 20px;
        color: white;
        font-size: 8em;
    }

}

.container1-2{
    background: rgb(142,163,141);
    background: linear-gradient(90deg, rgba(142,163,141,1) 25%, rgba(255,255,255,1) 88%);
    font-size: 1em;
    text-align: center;
    min-height: 40vh;
    
    & h3{
        padding: 10px;
        font-size: 2em;
    }
}


.grid{
    background-color: #588157;
    text-align: center;

    & h4{
        font-family: 'Roboto', sans-serif;
        font-size: 2.3em;
    }

    & i{
        padding: 20px;
        color: #242424;
        font-size: 6em;
    }

    p{
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 10px;
    }
}

@media screen and (min-width: 768px){

    .container{
        display: flex;
        align-items: center;
        font-size: 1.5em;
        justify-content: space-between;
        min-width: 215vh;
        min-height: 100vh;

        & img{
            max-width: 80%;
            padding: 50px;


        & h2{
                text-align: start;
            }
            
        & img{
                width: 50%;
            }
        }
    }

    .container1-2 h3{
        font-size: 3.5em;
    }


    .grid{
        min-height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .grid h4{
        padding: 10px;
    }

    .grid i{
        font-size: 10em;
    }

    .grid_layout2{
        display: flex;
    }

    
}

