@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
$titulo: 'Pathway Extreme', sans-serif;

.container7{
    background-image: url(../img/campo-naturalesa.jpg);
    color: red;
}