@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

$fuente-span: 'Ysabeau', sans-serif;
$fuente-oficinas: 'Ubuntu', sans-serif;

@mixin flex{
    flex-direction: column;
    align-items: start;
    text-align: center;
    min-height: 20vh;
    margin-top: 0;
    padding: 10px;
    background-color: #f2e8cf;
}


.container5{

    & h2{
        text-align: start;
        text-transform: uppercase;
    }

    & p{
        text-align: start;
        text-transform: uppercase;
    }


    & span{
        font-size: 1.2em;
        font-family: $fuente-span;
        margin-right: 15px;
        color: black;
        font-weight: 600;
    }

    @include flex()
}

.container6{
    text-align: center;
    background-color: #fefae0;

    & h2{
        color: #219ebc;
        width: 250px;
        font-family: $fuente-oficinas;
        font-size: 3em;
        text-transform: uppercase;
    }

    & img{
        width: 100%;
        padding: 50px;
    }

    & ul{
        list-style: inside;
    }

    & li{
        font-weight: 600;
        list-style: inside;
        text-align: start;
        font-size: 1em;
    }
}

.container__fondo{
    background-color: #fefae0;
}