@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap');

$fuente-span: 'Ysabeau', sans-serif;

@mixin flex{
    flex-direction: column;
    align-items: start;
    text-align: center;
    min-height: 20vh;
    margin-top: 0;
    padding: 10px;
    background-color: #f2e8cf;
}


.container5{

    & h2{
        text-align: start;
        text-transform: uppercase;
    }

    & p{
        text-align: start;
        text-transform: uppercase;
    }


    & span{
        font-size: 1.2em;
        font-family: $fuente-span;
        margin-right: 15px;
        color: black;
        font-weight: 600;
    }

    @include flex()
}